.mainTitle{
    font-size: 100px;
}
.container {


}

.selectTitle{
    margin:  20px 0;;
}

.items{
    display: flex;
    gap :50px;
}

.item{
    border:  5px solid #bbb;
    border-radius:  5px;
    width: 300px;
    height: 400px;
    position: relative;  
    background-size: cover !important; 
}

.item:hover .title{
    color:#25aae3
}

.item:nth-child(1){
    background: url('/illustration.png');
    object-fit: cover;
}

.item:nth-child(2){
    background: url('/websites.jpg');
    object-fit: cover;
}

.item:nth-child(3){
    background: url('/apps.jpg');
    object-fit: cover;
}

.title{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}



